* {
  box-sizing: border-box;
}

html, body, #root {
  height:100%;
  width:100%;
  padding:0px;
  margin:0px;
  background:#333333;
  color:#CCCCCC;
}

.terminal {
  font-family: 'Share Tech Mono', monospace;
  text-shadow: 0 0 5px #BBBBFF,0 0 5px #BBBBFF;
}

.terminal::before {
  font-family: 'Share Tech Mono', monospace;
  content: "> ";
  text-shadow: 0 0 5px #BBBBFF;
}

.terminal::after {
  animation: blinker 1s linear infinite;
  font-family: 'Share Tech Mono', monospace;
  content: "|";
  text-shadow: 0 0 5px #BBBBFF;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

canvas {
  border: 3px solid red;
  box-sizing:content-box;
}
/*

.lightText {
  color: #CCCCCC;
}
.darkText {
  color: #111111;
}

.swatch#active {
  border: 3px solid red;
}

.swatch, .eraser {
  box-sizing:content-box;
  width:200px;
  padding:15px;
  margin:15px;
}

.spreadRow {
  display:flex;
  justify-content:space-between;
} */
